
.product-one-content-product-item img{
    width: 100%;
    transition: all 0.3s ease;
}
.product-one-content-product-item{
    width: 23%;
    background-color: white;
    padding: 50px 6px 50px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    margin: 3px;
}
.product-one-content-product-item-text{
    display: inline-block;
}
.product-one-content-product-item-button{
    margin-top: 12px;
    height: 30px;
    padding: 0 12px 0;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid red;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    padding-top: 7px;
}
.product-one-content-product-item-text li{
    margin-bottom: 6px;
    list-style-type: none;
}
.product-one-content-product-item-text li:nth-child(3){
    text-decoration: line-through;
}
.product-one-content-product-item-text li:last-child{
    color: red;
}
.product-one-content-product-item:hover img{
    transform: translateY(-20px);
}
.product-one-content-product-item-button:hover{
   background-image: linear-gradient(to bottom right, red, white);
   color: black;

}
.container-button{
    text-align: center;
    display: flex;
    justify-content: center;
}
.product-one-content-product-items{
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-one-content-product-item:hover img{
    transform: translateY(-20px);
}
.product-one-content-product-item:hover{
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.product-one{
    margin-top: 30px;
}
.product-one-content-title{
    display: flex;
    justify-content: space-between;
}
.product-one-content-title ul li a{
    color: black;
    font-size: 14px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.product-one-content-title h2{
    margin: 10px;
}
.product-one-content-title ul{
    display: flex;
    margin: 10px;
}
.product-one-content-title ul li{
    padding: 6px 12px;
    border: 1px solid black;
    margin-left: 12px;
    border-radius: 40px;
    list-style-type: none;
}
.product-one-content-title ul li:hover a{
    color: red;
}
/* .product-one-content-title ul li a.active{
    
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container ul li:nth-child(2) input{
    font-size: 14px;
}
.container ul li a{
    font-size: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid black;
    margin: 4px 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
nav.logo {
    background-color: #ea2e2e;
}
.container {
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}
ul, a, li {
    list-style: none;
    text-decoration: none;
}
.logo button {
    border-radius: 5px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
nav.logo li, a {
    font-size: 18px;
    color: white;
}
nav.menu {
    background-color: #000000;
    max-width: 100%;
    margin: auto;
}
nav.logo ul li:nth-child(2) {
    position: relative
}
nav.logo ul li:nth-child(2) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 5px;
}
nav.logo ul li:nth-child(2) i{
    position: absolute;
    font-size: 15px;
    right: 12px;
    color: black;
    line-height: 30px;
    cursor: pointe;
}
nav.logo ul li:nth-child(3) button{
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #000000;
}
nav.logo ul li:nth-child(3) button:hover {
    background-color: #c4c0c0;
}
nav.logo ul li:nth-child(3) i{
    margin-right: 3px;
}
nav.logo ul li:nth-child(4) button {
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #000000;
}
nav.logo ul li:nth-child(4) button:hover {
    background-color: #c4c0c0;
}
nav.logo ul li:nth-child(5) button {
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #000000;
}
nav.logo ul li:nth-child(5) button:hover {
    background-color: #c4c0c0;
}
nav.logo ul li:nth-child(5) i{
    margin-right: 3px;
}
nav.logo ul li:nth-child(6):hover a{
    color: yellow;
}
nav.logo ul li:nth-child(7):hover a{
    color: yellow;
}
nav.logo ul li:nth-child(8) a{
    color: yellow;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul, a, li {
    list-style: none;
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.end {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    margin: 20px;
    border-top: 2px solid rgb(155, 152, 152);
    padding-top: 20px;
}
.end li{
    color: rgb(170, 169, 169);
}
.end li p {
    position: relative;
    right: 20px;
    top: 10px;
}
.end img {
    margin-top: 20px;
}
.content-footer {
    background-color: #424040;
    height: 270px;
}
.container-footer {
    max-width: 1200px;
    margin: auto;
}
.container-footer img {
    width: 150px;
    height: 90px;
    padding-top: 20px;
    margin-bottom: 10px;
}
nav.footer ul {
    justify-content: space-evenly;
}
.container-footer li {
    color: rgb(164, 163, 163);
    font-size: 14px;
}
#ct {
    text-transform: capitalize;
    color: white;
}
.container-footer p {
    padding: 4px;
}
#a {
    color: white;
}
.container-footer a {
    font-size: 14px;
    display: block;
    padding: 4px;
}
.me {
    position: relative;
    top: 40px;
}
.me p {
    padding-bottom: 30px;
}
.sp {
    position: relative;
    top: 50px;
}
.sp p {
    padding-bottom: 30px;
}
.care {
    position: relative;
    top: 2px;
}
.care p {
    padding-bottom: 30px;
}
#gt:hover {
    color: rgb(208, 57, 95);
}
a {
    color: white;
}
